<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>com.kameronkim.kkuk</string>
<key>CFBundleExecutable</key><string>Kkuk</string>
<key>CFBundleName</key><string>Kkuk</string>
<key>CFBundleDisplayName</key><string>Kkuk</string>
<key>CFBundleDevelopmentRegion</key><string>en</string>
<key>CFBundleLocalizations</key><array><string>en</string><string>ko</string></array>
<key>CFBundleShortVersionString</key><string>0.1.0</string>
<key>CFBundleVersion</key><string>1</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>LSMinimumSystemVersion</key><string>26.0</string>
<key>NSHighResolutionCapable</key><true/>
<key>NSPrincipalClass</key><string>NSApplication</string>
<key>NSHumanReadableCopyright</key><string>Kkuk · Includes 7-Zip © Igor Pavlov</string>
<key>NSServices</key><array><dict>
<key>NSMenuItem</key><dict><key>default</key><string>Compress with Kkuk</string></dict>
<key>NSMessage</key><string>compressWithKkuk</string>
<key>NSPortName</key><string>Kkuk</string>
<key>NSSendFileTypes</key><array><string>public.item</string></array>
<key>NSSendTypes</key><array><string>public.file-url</string><string>NSFilenamesPboardType</string></array>
<key>NSRequiredContext</key><dict><key>NSApplicationIdentifier</key><string>com.apple.finder</string></dict>
</dict></array>
</dict></plist>
